




@font-face {
    font-family: BoldHead;
    src: url("./assets/Boldhead.otf");
}

@font-face {
    font-family: orbitron;
    src: url("./assets/Orbitron-Regular.ttf");
}


@font-face {
    font-family: proximaNova;
    src: url("./assets/ProximaNova-Regular.otf");
}

.navBarCont{
    width: 100%;
    padding: 0.5em;
    display: flex;
    border-bottom: 2px solid #3a3737;
    position: relative;
    background-color: #000;
    color: #fff;
}

.navbar{
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    max-width: 1700px;
    width: 90%;
    margin: 0 auto;
}

.humberger{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s linear;
    margin-left: 15px;
}


.orbitron{
    font-family: orbitron, Verdana, Geneva, Tahoma, sans-serif;
}


.humberger:hover{
    transform: scale(1.2);
}


.bar{
    position: relative;
    width: 85%;
    height: 2px;
    background-color: #fff;
}

.bar:before, .bar:after{
    position: absolute;
    content: "";
    width: 80%;
    height: 2px;
    background-color: #fff;
}

.bar::before{
    top: -10px;
    left: 3px;
}

.genres{
    position: absolute;
    left: 0;
    background-color: #000;
    bottom: -1400%;
    width: min(200px, 40vw);
    transform-origin: top;
    transform: scaleY(0);
    z-index: 2;
}

.genres li{
    width: 100%;
    text-align: center;
    background-color :#081131;
    padding: 0.5em;
    font-size: 1.3em;
    color: #Fff;
    cursor: pointer;
}

.genres a{
    text-decoration: none;
}

.genres li:hover{
    background-color:#7f9bff;
}

.appear{
    animation: appear 0.8s ease forwards;
}

.disappear{
    animation: disappear 0.2s ease forwards;
}




.bar:after{
    bottom: -10px;
    left: 3px;
}


.name{
    font-family: BoldHead, Verdana, Geneva, Tahoma, sans-serif;
}


.searchDiv{
    width: max(70%, 100px);
    display: flex;
    margin: 0 auto;
}


.searchDiv input{
    width: 85%;
    margin-right: 15px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #534a4ab6;
    outline: none;
    color: #fff;
    background: transparent;
}


.searchBtn{
    border: none;
    outline: none;
    position: relative;
    background-color: transparent;
    color: #Fff;
    cursor: pointer;
    padding: 10px 15px;
}



.searchBtn::before{
    position: absolute;
    content: "";
    height: 2px;
    background-color: #fff;
    width: 0;
    top: -2px;
    left: 0;
    transition: width 0.5s linear;
}

.searchBtn::after{
    position: absolute;
    content: "";
    height: 2px;
    background-color: #fff;
    width: 0;
    bottom: -2px;
    right: 0;
    transition: width 0.5s linear;
}

.searchBtn:hover::before, .searchBtn:hover::after{
    width: 100%;
}


.checkoutLogo{
    width: 40px;
    height: 40px;
}



.welcomeSection{
    width: 100%;
    min-height: 950px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}
.welcome h1{
    font-size: 5em;
}

.Top100, .popularLastYear{
    background-color: #000;
    color: #fff;
}


.gameDiv{
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    position: relative;
}

.seeMoreLink{
    position: absolute;
    left: 90%;
    top: 5%;
    text-decoration: none;
    color: #fff;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 15px 5px;
    border-radius: 10px;
    transition: background-color 0.5s linear;  
}

.seeMoreLink:hover{
    background-color: #3f0202;
}

.gameLink{
    text-decoration: none;
    color: #fff;
}

.navBarCont a{
    text-decoration: none;
    color: #fff;
}
.gameDiv h1{
    margin: 0.5em 0;
}


.gameScroll{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 1em;
    scrollbar-color: #272424 #000;
    overflow-y: hidden;

}

.GameCard{
    border-radius: 15px;
}

.GameCard:hover{
    transform: scale(1.1);
}

.GameDescription{
    width: 100%;
}



.imgCont{
    position: relative;
}


.reactions{
    width: 60px;
    height: 20px;
    position: absolute;
    bottom: 30px;
    text-align: center;
    border-radius: 30px;
    left: 15px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.7s linear;
    cursor: pointer;
}


.metacritic{
    position: absolute;
    width: 35px;
    height: 17px;
    right: 15px;
    bottom: 30px;
    color: #000;
    text-align: center;
    border-radius: 5px;
    font-family: proximaNova, sans-serif;
}


.price{
    color: green;
}


.reactions:hover{
    transform: scale(1.2);
}


.star {
  width: 14px;  
  aspect-ratio: 1;
  background-color: #fff;
  clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
   ); 
  
}


.gameName{
    font-family: orbitron, Verdana, Geneva, Tahoma, sans-serif;
}


.imgCont{
    width: 300px;
    height: 300px;
    border-radius: 15px 15px 0 0;
}



.GameDescription{
    text-align: center;
    width: 100%;
    padding: 12px;
}


.gameGenre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.genre{
    padding: 10px;
    border: none;
    margin: 0 10px;
    outline: none;
    border-radius: 20px;
    background-color : transparent
}



footer{
    min-height: 500px;
    width: 100%;
    background-color: #292424;
    color: #a19595;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footerContent{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slogan{
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}

.slogan h1{
    font-family: BoldHead, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4em;
}


.socialLink{
    width: 35px;
    height: 35px;
}

.socialLink + .socialLink{
    margin-left: 1em;
}


.list ul{
    list-style-type: none;
}

.list li{
    margin: 0.5em 0;
}

.list p{
    font-weight: bold;
    font-size: 1.5em;
}


.gamePage{
    background-color: #2c2f4a;
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameDetails{
    width: 80%;
    margin: 0 auto;
    background-color: #6884dd, linear-gradient(to bottom, #7f9bff, #6884dd);
    padding: 2em;
    box-shadow: 0 0 8px #6884dd, 0 0 16px #6884dd80, 0 0 32px #6884dd40;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}



.gameDetails:hover {
  box-shadow: 0 0 15px #6884dd, 0 0 28px #6884dd80, 0 0 52px #6884dd40;
}



.gameDetails h1{
    margin-bottom: 15px;
    font-family: orbitron, Verdana, Geneva, Tahoma, sans-serif;;
}

.details{
    width: 100%;
    display: flex;
    gap: 1.5em;
}
.gameDetail{
    display: flex;
    gap: 0.5em;
}

.gameDetail img{
    color: #fff;
}


.imgContainer{
    flex-basis: 550px;
    height: 550px;
    flex-shrink: 0;
    position: relative;
}


.bigMetacritic{
    width: 50px;
    height: 25px;
    top: 2%;
    left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: proximaNova, sans-serif;
}

.gameDescription{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 1em;
}



.description{
    margin-bottom: 1em;
    line-height: 20px;
}



.gameDetail{
    font-size: 1.2em;
}

.gameDetail img{
    width: 20px;
    height: 20px;
}

.addSection{
    position: absolute;
    width: 35%;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
}


.increase, .decrease{
    padding: 2px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.3em;
    background: #6884dd;
}


.increase:hover, .decrease:hover{
    transform: scale(1.2);
}

.addToCart{
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 17px;
    border: none;
    outline: none;
    background: #6884dd;
    border-radius: 7px;
}


.addToCart:hover{
    box-shadow: 0 0 8px #6884dd, 0 0 16px #6884dd80, 0 0 32px #6884dd40;
}

button:disabled:hover{
    cursor: not-allowed;
}



.count{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2f4a;
    border-radius: 10px;

}


.nextImg, .prevImg{
    position: absolute;
    top: 50%;
    background-color: #6884dd;
    padding: 5px 10px;
    border: none;
    outline: none;
}

.nextImg{
    right: 3%;
}


.prevImg{
    left: 3%;
}


.nextImg:hover, .prevImg:hover{
    transform: scale(1.2);
}



.searchResults{
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 5em 0;
    min-height: 100vh;
    position: relative;
}


.results{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    flex-wrap: wrap;
}


.results .imgCont{
    width: 400px;
    height: 400px;
}


.results .GameCard{
    background-color: #003333;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.1), 0 4px 12px rgba(0, 0, 0, 0.7);
}

.results .GameDescription{
    max-width: 400px;
}

.pagebtns{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.pagebtns button{
    padding: 5px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #081131;
    color: #fff;
    transition: background-color 0.5s ease;
}

.prevPage{
    margin-right: 30px;
}

.nextPage{
    margin-left: 30px;
}

.nextPage:hover, .prevPage:hover{
    background-color: #6884dd;
}

.loading{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}


@keyframes appear {
    0%{
        transform: scaleY(0);
    }
    50%{
        transform: scaleY(105%);
    }
    100%{
        transform: scaleY(100%);
    }
}


@keyframes disappear {
    0%{
        transform: scaleY(100%);
    }
    100%{
        transform: scaleY(0);
    }
}